<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mortal.topicsquare.mapper.ArticleMapper">
    <select id="selectAllArticle" resultType="com.mortal.topicsquare.vo.ArticleUserVo">
SELECT article_id,article_content,`options`,user_name,user_type,user_img,college_name,article_message.create_time
FROM article_message
LEFT JOIN `user` ON article_message.user_id = `user`.id
LEFT JOIN college ON article_message.college_id = college.id
where
        article_message.user_id = `user`.id
        <if test="articleId!=null">
            article_message.article_id = #{articleId}
        </if>
        <if test="userId!=null">
            and
            article_message.user_id = #{userId}
        </if>
        <if test="collegeId!=null">
            and
            article_message.college_id = #{collegeId}
        </if>
ORDER BY article_message.create_time DESC
    </select>
    <select id="selectByArticleId" resultType="com.mortal.topicsquare.vo.ArticleUserVo">
        SELECT article_id,article_content,`options`,user_name,user_type,user_img,college_name,article_message.create_time
        FROM article_message
        LEFT JOIN `user` ON article_message.user_id = `user`.id
        LEFT JOIN college ON article_message.college_id = college.id
        where
            article_message.article_id = #{articleId}
    </select>
    <select id="selectByArticleIdLikeArticleVo" resultType="com.mortal.topicsquare.vo.LikeArticleVo">
        SELECT
	        like_id,
	        a.user_id AS like_user,
	        a.article_id,
	        a.createTime AS lcreate,
	        article_content,
	        b.user_id AS article_user_id,
	        b.college_id,
	        b.create_time AS acreate,
	        user_name,
	        user_type,
	        user_img
        FROM
	        `like` AS a
	    LEFT JOIN article_message AS b ON a.article_id = b.article_id
	    LEFT JOIN `user` AS c ON b.user_id = c.id
        WHERE
	        a.user_id = #{userId}
        ORDER BY lcreate ASC
    </select>
</mapper>