<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mortal.topicsquare.mapper.LikeMapper">
    <select id="getByLikeId" resultType="com.mortal.topicsquare.vo.LikeUserVo">
        SELECT like_id,user_id,article_id,createTime,user_name,user_type,user_img
        FROM `like` LEFT JOIN `user` on `like`.user_id = `user`.id WHERE like_id = #{likeId}
    </select>
</mapper>